*{
    margin: 0;
    padding: 0;
   
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wrapper{
    color: white;
    width: 350px;
    height: 350px;
    background-color: aqua;
   
}
.wrapper h1{
    font-size: 35px;
    text-align: center;
    color: blue;
}
.input-one{
    text-align:center;
    height: 20px;
    width: 100%;
    margin: 40px 0px 10px;
    border-radius: 10px; 
}
.input-two{
    text-align:center;
    height: 20px;
    margin: 20px 0px 10px;
}
.input-three{
    text-align:center;
    height: 20px;
    margin: 40px 0px 10px;
}
.input-four{
    text-align:center;
    height: 20px;
    margin: 40px 0px 10px;
}
button{
    background-color: brown;
    justify-content: center;
    align-items: center;
}

